[submodule "contracts/dependencies/forge-std"]
	path = contracts/dependencies/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/dependencies/openzeppelin-contracts"]
	path = contracts/dependencies/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
